// ==============
// Global imports
// ==============
@import "base/variables";
@import "base/mixins";
@import "base/base";
@import "components/header";
@import "components/footer";



// map styles 
body {
  color: #bdbdbd;
  background-color: #0F0F13;
  font-family: 'Open Sans', sans-serif;
}


.marker {
    display: block;
    border: none;
    cursor: pointer;
    padding: 0;
}

html, body, #wrapper {
    width: 100%;
    height: 100%;
  padding: 0px;
  margin: 0px;
}

#wrapper {
  position: fixed;
  opacity: 1;
}

.mute-btn {
  position:fixed;
  z-index: 100000;
  padding:3px;
  top:10px;
  right:20px;
}

.mute{
  width: 35px;
  height: 35px;
  border:1px solid white;  
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
  padding: 8px;
}


.video-events-con {
  opacity: 1;
  position: fixed;
  width: auto    !important;
  height: auto   !important;
  margin: 0;
  left:0;
  top:0;
  z-index:2;
}


video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
}

#map {
  position:alsolute;
  width: 100%;
  height: 100%;
  left:0;
  top:0;
  z-index:1;
  @media #{$brk-spnarrow} {
      display: none;
  }
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
}
.hidden {
  display: none;
}


#intro {
  display:table;
  position: absolute;
  z-index: 1000000;
  width: 100%;
  height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.header-text {
  position: absolute; 
  z-index: 1000000;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 10%;
  width: 35%;
    @media #{$brk-narrow} {
      width: 60%;
      margin-top: 35%;
    }
}

.text-container {
 margin-top: 30%;
 margin-bottom: 20%;
}

 .text {
 margin-left: 110px;
 margin-top: 50%;
  @media #{$brk-narrow} {
      margin-top: 155%;
  }
  @media #{$brk-spnarrow} {
      margin-left: 85px;
  }
} 


.killed-stat {
  color: #eee;
  font-size: 1.3em;  
  margin-top: 1em;
  display: block; 
   @media #{$brk-spnarrow} {
      display:none;
    }
}


#killed {
  font-weight: 700;
}

.fight-path {
    stroke-dashoffset: 10000; 
    stroke-dasharray:10000; 
    -webkit-transition:stroke-dashoffset 15s ease-in
  }



.bl {
  display: block;
  position: absolute;
  z-index: 1000000;
  background-color: rgba(0,0,0,0.7);
   height: 100%;
   width:100%;
}

.bl2 {
  display: block;
  position: absolute;
  background: black;
   height: 100%;
   width:100%;
   opacity: 0.5;
}


// video mobile style
.IIV::-webkit-media-controls-play-button,
.IIV::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
}



// d3

div.tooltip {
 position: absolute;
 width: 100px;
 font-size: 11px;
 pointer-events: none;
 background: rgba(238,238,238, 0.8);
 padding: 5px;
  border-radius: 3px;
 color: #3A3F4A;
 text-align: center;
 z-index:100;
}



 // general styles

h1 {
  text-align: center;
  @media #{$brk-spnarrow} {
    font-size: 2.5em;
  }
}

.subtitle {
	font-size: 1.7em;
    line-height: 1.5em;
    font-weight: 300;
    color: #eee;
    text-align:center;
    margin-bottom: 2em;
}

.center {
  text-align: center;
}

.credits {
  text-align: center;
  font-size: 1.3em;
  line-height: 1.5em;
  & span {
    font-weight: bold;
  }
  & span.note {
    font-size:0.7em;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffeda0;
    font-weight:400;
  }
}

.note {
    font-size: 1.3em;
}

.date {
  margin-left: -75px;
  width: 70px;
  letter-spacing: 2px;
  padding-top: 5px;
  color: #ffffff;
  font-style: italic;
  font-size:1.3em;
  float:left;
}

p  {
    &.first{
    margin-top: 3.5em;
    &::first-letter {
    float: left;
    margin: 0 20px 0 0;
    font-size: 52px;
    font-weight: bold;
    padding: 10px;
    line-height: 1;
    }
  }
    & span {
      background: rgba(191,211,230,0.4);
    }
    & span.police {
      background: rgba(223,101,176,0.4);
    }
    & span.black {
      background: rgba(15, 15, 19,0.7);
    }
}


/* pudded multiline*/

.padded-multiline { 
  line-height: 2; 
  padding: 2px 0; 
  width: 300px;
  margin-bottom:700px;
 @media #{$brk-spnarrow} {
    width: 250px;
 }
}

.padded-multiline span { 
  background-color: rgba(15, 15, 19,0.7);
  color: #eee; 
  display: inline;
  padding: 0.35rem;
  
  /* Needs prefixing */
  box-decoration-break: clone;
}


.quote {
  margin-top:1.5em;
  margin-bottom:1.5em;
  color: #eeeeee;
  font-weight:300;
  font-size: 2.3em;
  &::before {
    font-family: Arial;
    content: "\201C";
    font-size: 7em;
    position: relative;
    left: 0em;
    top: 0.5em;
    @media #{$brk-spnarrow} {
      font-size: 7em;
    }
  }
}

.disclaimer {
  font-size: 1.3em;
}

 h2.disclaimer {
   margin-top: 10em;
   font-size: 2em;
   font-weight: 600;
   border-top: 3px solid #383e47;
   padding-top: 0.5em;
   width: 40%;
   @media #{$brk-spnarrow} {
      margin-top: 5em;
      width: 100%;
   }
}

.new-section {
  margin-top: 5%;
}



.no-padding {
  padding-left: 0px;
  padding-right: 0px;
}


.mobile {
  display: none;
  @media #{$brk-spnarrow} {
    display: block;
  }
}

.desktop {
  display: block;
  @media #{$brk-spnarrow} {
    display: none;
  }
}

.read-more {
  margin-bottom: 15px;
}
