// ==============
// Global imports
// ==============
@import "base/variables";
@import "base/mixins";
@import "base/base";
@import "components/header";
@import "components/footer";



// map styles 
body {
  color: #bdbdbd;
  background-color: #0F0F13;
  font-family: 'Open Sans', sans-serif;
}

.marker {
    display: block;
    border: none;
    cursor: pointer;
    padding: 0;
}

html, body, #wrapper {
    width: 100%;
    height: 100%;
  padding: 0px;
  margin: 0px;
}

#wrapper {
  position: fixed;
  opacity: 1;
}


#map {
  position:absolute;
  width: 100%;
  height: 100%;
  left:0;
  top:0;
  z-index:1;
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
}


.hidden {
  display: none;
}


// general styles

#intro {
  display:table;
  position: absolute;
  z-index: 1000000;
  width: 100%;
  height: 100%;
}

.header-text {
  position: absolute; 
  z-index: 1000000;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 10%;
  width: 35%;
  @media #{$brk-narrow} {
    margin-top: 35%;
  }
  @media #{$brk-spnarrow} {
    width: 60%;
    margin-top: 10%;
  }
  @media #{$brk-xxsnarrow} {
    width: 60%;
    margin-top: 20%;
  }
}

.text-container {
 margin-left: 85px;
 margin-top: 100%;
  @media #{$brk-narrow} {
      margin-top: 210%;
  }
  @media #{$brk-spnarrow} {
      margin-left: 0px;
  }
}

.mute-btn-wrapper {
  position: fixed;
  z-index: 100000;
  padding: 3px;
  top: 10px;
  right: 20px;
  @media #{$brk-xxsnarrow} {
    background: rgba(15,15,19,0.9);
    padding: 15px 0 5px 30px;
    top: 0px;
    right: 0px;
    width: 100%;
  }
}



.mute, .play{
  width: 35px;
  height: 35px;
  border:1px solid #bdbdbd;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
  padding: 8px;
  user-select: none;
  cursor: pointer;
  &:hover {
    border:1px solid $orange;
  }
}


.play {
  margin-right: 15px;
}

.btn {
  padding-top: 3px;
}

.btn.focus,.btn:focus,
.btn:hover {
  color: $orange;
}

.clock-in-da-top {
  display: inline-block;
  margin-top: 3px;
  font-size: 1.5em;
}

#hint {
  display: none;
  opacity: 0;
  position: absolute;
  color: #737373;
  margin-top: 10px;
  margin-left: -5px;
  text-align: center;
  @media #{$brk-narrow} {
    display: block;
  }
}

.hint-text {
    font-size: 1em;
  }

.video-events-con {
  opacity: 1;
  position: fixed;
  width: 100%   !important;
  height: auto   !important;
  margin: 0;
  left: 0;
  top: 0;
  z-index: 2;
}

#video-note {
  width: 150px; 
  height: 100px; 
  position: fixed; 
  bottom: 0px; 
  right: 30px;
  opacity: 0;
}

#video-map {
  position: fixed;
  width: 150px;
  height: 150px;
  bottom: 110px; 
  right: 30px;
  opacity: 0;
  @media #{$brk-xxsnarrow} {
    display:none;
  }
}

video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
}

.disclaimer {
 text-align: center;
 & li {
  @media #{$brk-xlarge} {
    @include text(1.3em, 1.3em, 300);
  }
  @media #{$brk-large} {
    @include text(1.1em, 1.3em, 300);
  }
 }
}


h1 {
  text-align: center;
}

.subtitle {
    color: #eee;
    text-align:center;
    margin-bottom: 2em;
}


.credits {
  text-align: center;
  & span {
    font-weight: bold;
  }
  & span.note {
    font-size:0.7em;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffeda0;
    font-weight:400;
  }
  @media #{$brk-xlarge} {
    @include text(1.5em, 1.6em);
  }
  @media #{$brk-large} {
    @include text(1.3em, 1.5em);
  }
}


.note {
    font-size: 1.3em;
}

.date {
  letter-spacing: 2px;
  padding-top: 5px;
  color: #ffffff;
  font-style: italic;
  float:left;
  @media #{$brk-xlarge} {
    font-size:14px;
    margin-left: -87px;
    width: 85px;
  }
  @media #{$brk-large} {
    font-size:12px;
    margin-left: -77px;
    width: 75px;
  }
  @media #{$brk-spnarrow} {
  font-size:12px;
  margin-left: 0px;
  padding-top: 5px;
}
}

p  {
    & span {
      background: rgba(191,211,230,0.4);
    }
    & span.police {
      background: rgba(223,101,176,0.4);
    }
    & span.black {
      background: rgba(15, 15, 19,0.7);
    }
}


/* pudded multiline*/

.padded-multiline { 
  line-height: 2; 
  padding: 2px 0; 
  width: 300px;
  margin-bottom:700px;
 @media #{$brk-spnarrow} {
    width: 250px;
 }
}

.padded-multiline span { 
  background-color: rgba(15, 15, 19,0.7);
  color: #eee; 
  display: inline;
  padding: 0.35rem;
  
  /* Needs prefixing */
  box-decoration-break: clone;
}


.quote {
  margin-top:1.5em;
  margin-bottom:1.5em;
  color: #eeeeee;
  font-weight:300;
  font-size: 2em;
  &::before {
    font-family: Arial;
    content: "\201C";
    font-size: 7em;
    position: relative;
    left: 0em;
    top: 0.5em;
    @media #{$brk-spnarrow} {
      font-size: 7em;
    }
  }
}


.mobile {
  display: none;
  @media #{$brk-xxsnarrow} {
    display: block;
  }
}

.desktop {
  display: block;
  @media #{$brk-spnarrow} {
    display: none;
  }
}




// d3

div.tooltip {
 position: absolute;
 width: 100px;
 font-size: 11px;
 pointer-events: none;
 background: rgba(238,238,238, 0.8);
 padding: 5px;
  border-radius: 3px;
 color: #3A3F4A;
 text-align: center;
 z-index:100;
}

.fight-path {
    stroke-dashoffset: 10000; 
    stroke-dasharray:10000; 
    -webkit-transition:stroke-dashoffset 15s ease-in
  }


// inline video

.IIV::-webkit-media-controls-play-button,
.IIV::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
}