/* ======== HEADER ======== */


.logo {
    position: fixed;
    float: left;
    margin: 15px 0px 0px 35px;
    z-index: 100000000;
}

.social-icons {
  position: fixed;
  padding-top: 10px;
  z-index: 1000;
}

.fa-twitter,
.fa-facebook {
  color: #bdbdbd;
  margin: 5px 25px 0px 25px;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border:1px solid #bdbdbd;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  padding: 15px;
  user-select: none;
  &:hover{
    color: #9ebcda;
    border:1px solid #9ebcda;
    text-decoration: none;
  }
}
